<!DOCTYPE html>
<html>
<head>
  <title>Paydici</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= link_to "Sign Out", destroy_user_session_url, :method => :delete %>
<p id="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>

<%= yield %>

</body>
</html>
